
/* About */
.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}


body {
    background-color: #defbff;
    background-color: linear-gradient(#aedbe8, #75b6c9);
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
    height: 100%;
    min-height: 100vh;
}

#wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    width: 100vw;

    display: grid;
    place-items: center;
    align-content: center;
    object-fit: fill;
}


#duckvid {
    position: absolute;
    left: 0;
    height: 100%;
    height: 100vh;
    width: 100%;
    width: 100vw;
    object-fit: fill;
}

#duckvid src {
    object-fit: fill;
}

@media only screen and (max-width: 640px) {
    #duckvid {
        display: none;
    }
}

p {
    font-size: 14px;
}

#main-content {
    background-color: #ffff;
    outline: 1px solid;
    outline-color: black;
    margin-top: 10px;
    margin-bottom: 50px;
    min-height: 91vh;
    width: 600px;

    position: relative;
    z-index: 1;
}

#banner {
    width: 592px;
    margin: 4px;
}

nav {
    display: flex;
    flex-direction: row;
    place-content: center;

    margin: 0 auto;
    padding: 0;
    gap: 2px;
    width: 585px;
}

.nav-item {
    border: 1px solid;
    border-top: none;
    border-color: black;
    height: 40px;
    width: auto;
    overflow: hidden;
}


.nav-img {
    max-width: 100%;
    max-height: auto;
    position: relative;
    bottom: 5px;
}

.nav-img:hover {
    transform: translateY(-48px);
}

#news {
    background: linear-gradient(#d7d7d7, white);
    width: 585px;
    margin: 5px 7px 12px 7px;
    border: 1px solid;
    padding-bottom: 7px;
}

#news img {
    position: relative;
    left: 533px;
    margin-bottom: 0px;
    aspect-ratio: auto 48/24;
    width: 48px;
}

#news #date {
    font-weight: 600;
    border-bottom: 1px solid black;
    margin: 2px 15px 3px 10px;
}

#news p {
    display: block;
    margin: 5px 15px 3px 10px;
}

#about {
    background: linear-gradient(#d7d7d7, white);
    width: 585px;
    height: 250px;
    margin: 5px 7px 12px 7px;
    border: 1px solid;
    overflow-y: auto;
}

#about #about-anthony {
    width: 190px;
    height: 210px;
    float: left;
    margin: 5px 8px 2px 5px;
    padding: 3px;
    background-color: white;
    border: 1px solid;
}

#about #about-me {
    margin: 5px 0px 0px 0px;
}

#about p {
    font-size: 13px;
    margin-top: 0px;
    margin-right: 2em;
    margin-left: 1em;
}

.footer {
    margin: 35px 7px 6px 7px;
    display: grid;
    place-items: center;
    align-content: center;
}

.footer img {
    width: 585px;
}

/* About */

/* Contact */

#contact {
    background: linear-gradient(#d7d7d7, white);
    width: 585px;
    height: 325px;
    margin: 5px 7px 12px 7px;
    border: 1px solid;
    padding-bottom: 7px;
}

#contact a {
    text-decoration: none;
    pointer-events: none;
}

#contact img {
    position: relative;
    left: 455px;
    margin-bottom: 0px;
    aspect-ratio: auto;
    width: auto;
    pointer-events: all;
}

#contact #git {
    left: 530px;
    width: 8%;
    height: auto;
}

#contact #lin {
    left: 435px;
    width: 6.5%;
    height: auto;
}

#contact #mail {
    left: 345px;
    width: 6.5%;
    height: auto;
}

#contact p {
    position: relative;
    top: 182px;
    text-indent: 9em;
}

#contact #dinning {
    pointer-events: all;
}

/* Contact */

/* Gallery */

.box {
    background: linear-gradient(#d7d7d7, white);
    width: 585px;
    height: 325px;
    margin: 5px 7px 14px 7px;
    border: 1px solid;
    padding-bottom: 7px;
    overflow-x: hidden;
    overflow-y: auto;
}

.box .piece {
    position: relative;
    left: 7%;
    height: 23%;
    width: 23%;
    margin: 7px 10px;
    padding: 1px;
    background-color: white;
    border: 1px solid blue;
}

.box .piece:hover {
    cursor: pointer;
    border-color: orange;
}

.bold { 
    font-weight: 600;
    border-bottom: 1px solid black;
    margin: 10px 15px 3px 10px;
}

.popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 10;

    display: none;
    place-items: center;
    align-content: center;
    transition: all 1s;
}

.blownup { /* This is the border of the popup */
    position: relative;
    top: -12%;
    width: auto;
    height: 65%;
    outline: 1px solid;
    padding: 7px 8px;
    padding-bottom: 25px;
    margin: 0;
    background: linear-gradient(#ccfaff, #ffff);
    transition: all 1s;
}

/* Gallery */

/* Blog */

#blog {
    padding: 20px;
    padding-top: 8px;
}

#blog #first{
    text-indent: 1em;
}

* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
     box-sizing: border-box; 
}

#blog li {
    font-size: 14px;
}

/* Blog */

/* Projects */

.projtitle {
    text-indent: 1em;
}

.popuptext {
    position: fixed;
    left: 0;
    top: 15%;
    width: 100%;
    height: auto;
    z-index: 10;

    display: none;
    place-items: center;
    align-content: center;
    transition: all 1s;
}

.projbox {
    background: linear-gradient(#d7d7d7, white);
    width: 850px;
    width: 80%;
    height: 500px;
    margin: 5px 7px 14px 7px;
    border: 3px solid;
    padding-bottom: 7px;
    padding-top: 3px;
    padding: 5px 7px 7px 5px;
    overflow-x: hidden;
    overflow-y: auto;
}

.projlist {
    display: list-item;
}

.projimg {
    object-fit: contain;
    width: 100%;
    height: auto;
}